.posts {
  padding: 10px 15px;
  width: 100%;
}

.post {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: .50rem;
  background-color: #FFFAFA;
  box-shadow: #CDC9C9 0.0em 0.1em 0.1em ;
}
.post:hover {
  background: #CDC9C9;
}

.post-title {
  text-decoration: none;
}

.post-title h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

.post-date {
  margin-bottom: 5px;
  font-size: 12px;
}
