.disqus {
  width: 70%;
  margin-top: 10px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.article {
  background: #111111;
  width: 100%; 
  padding: 1.5rem; 
  border-radius: 0.50rem; 
  margin: 10px auto;
}

.content-post {
  margin: auto;
}