.disqus {
  width: 70%;
  margin-top: 10px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

h1, h2 {
  color: #fff;
}
p {
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}

.content-post{
  margin: 0 30px;
  text-align: justify;
}
