@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$color: aliceblue;
$background: #121333;

* {
    text-decoration: none;
    color: $color;
    background: $background;
    font-family: 'Roboto', sans-serif;
}