* {
  background: #3c0bad;
  text-decoration: none;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #111122;
}
::-webkit-scrollbar-thumb:hover {
  background: rebeccapurple;
}

.links {
  text-align: center;
  margin-bottom: 20px;
}

.links a {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.links p {
  padding: 5px;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.links p:hover {
  border-bottom: 2px solid gold;
}

main img {
  border: solid gold;
}