@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #111122;
}
::-webkit-scrollbar-thumb:hover {
  background: rebeccapurple;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

html, body {
  height: 100%;
}

p, div {
  font-size: 16px;
}

.content p {
  line-height: 1.5;
  text-align: justify;
  margin: 22px 0px;
}

.date{
  font-size: 12;
}

#ul {   
  width: 100%;
  text-align:center;
}
#ul #li {
  display: inline;
  margin-left: 10px;
  width: 20px;
  padding: 5px;
  border-radius: 10px;
}
#ul #li:hover {
  background: #111122;
  color: rgba(255, 255, 255, 0.7);
}