.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;

    a {
        display: block;
        padding: 1rem;
    }

    a:hover {
        background: #2B2D80;
        border-radius: 10px;
        h2 {
            background: #2B2D80;
        }
        p {
            background: #2B2D80;
        }
    }
    p {
        font-style: italic;
    }
    

}