@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
 }
 .header_name h1{
   margin: 20px auto;
   text-align: center;
   color: #fff;
   font-size: 35px;
   font-weight: bold;
 }